.TableSymbolsContainer{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.TableSymbolsContainer>button{
	width: 2.5em;
	height: 2.5em;
	font-size:1.5em;
	border-radius: 0;
	border-color: white;
}